<p id="notice"><%= notice %></p>

<h1>Picture</h1>

<table class="table table-borderd">
  <div class="tbody">
    <tr>
      <th>Title</th>
      <td><%= @picture.title %></td>
    </tr>
    <tr>
      <th>Latitude</th>
      <td><%= @picture.latitude %></td>
    </tr>
    <tr>
      <th>Longitude</th>
      <td><%= @picture.longitude %></td>
    </tr>
    <tr>
      <th>Memo</th>
      <td><%= @picture.memo %></td>
    </tr>
    <tr>
      <th>Picture</th>
      <td>
        <% if @picture.picture.attached? %>
          <%= image_tag @picture.picture.variant(resize: "300x300") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Map</th>
      <td><div id="map" style="width: 100%; height: 500px;"></div></td>
    </tr>
  </div>
</table>

<%= link_to 'Edit', edit_picture_path(@picture), class: "btn btn-sm btn-success" %>
<%= link_to 'Back', pictures_path, class: "btn btn-sm btn-secondary" %>

<script>
    var map = L.map('map').setView([<%= @picture.latitude %>, <%= @picture.longitude %>], 13);
    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(map);
    L.marker(
        [<%= @picture.latitude %>, <%= @picture.longitude %>],
        {title: "marker-title"}
    ).addTo(map)
        .bindPopup("<h3><%= @picture.title %></h3><div><%= @picture.memo %></div>")
        .openPopup();
</script>
